
<div class="overview-boxes">

  <div class="box card" (click)="activeMenu = 1">
    <div class="right-side">
      <div class="box-topic">ລາບງານຂໍ້ມູນອຸປະກອນ</div>
    </div>
    <i class='bx bxs-cart-add cart two' style="margin-top: 10px;"></i>
  </div>

  <div class="box card" (click)="activeMenu = 2">
    <div class="right-side">
      <div class="box-topic">ລາຍງານຂໍ້ມູນອຸປະກອນ</div>
    </div>
    <i class='bx bxs-cart-add cart two' style="margin-top: 10px;"></i>
  </div>

  <div class="box card" (click)="activeMenu = 3">
    <div class="right-side">
      <div class="box-topic">ລາຍງານຂໍ້ມູນນໍາອຸປະກອນ</div>
    </div>
    <i class='bx bxs-cart-add cart two' style="margin-top: 10px;"></i>
  </div>

  <div class="box card" (click)="activeMenu = 4">
    <div class="right-side">
      <div class="box-topic">ລາຍງານຂໍ້ມູນເບີກອຸປະກອນ</div>
    </div>
    <i class='bx bxs-cart-add cart two' style="margin-top: 10px;"></i>
  </div>

  <div class="box card" (click)="activeMenu = 5">
    <div class="right-side">
      <div class="box-topic">ລາບງານຂໍ້ມູນຜູ້ສະໜອງ</div>
    </div>
    <i class='bx bxs-cart-add cart two' style="margin-top: 10px;"></i>
  </div>

  <div class="box card" (click)="activeMenu = 6">
    <div class="right-side">
      <div class="box-topic">ລາຍງານຂໍ້ມູນພະນັກງານ</div>
    </div>
    <i class='bx bxs-cart-add cart two' style="margin-top: 10px;"></i>
  </div>

  <div class="box card" (click)="activeMenu = 7">
    <div class="right-side">
      <div class="box-topic">ໃບສັ່ງຊື່ອຸປະກອນ</div>
    </div>
    <i class='bx bxs-cart-add cart two' style="margin-top: 10px;"></i>
  </div>


</div>

<!-- <app-modal1 *ngIf="activeMenu === 1" (close)="activeMenu = 0"></app-modal1> -->
