<div class="report-wrapper card">
    <div class="header">
        <div class="option">

              <div class="search">
                  <input type="search" [(ngModel)]="kw" (keyup.enter)="searchFunc()">
                  <button (click)="searchFunc()">ຄົນຫາ</button>
              </div>

              <div class="close">
                <span class="material-icons" (click)="coloseFunc()">
                  close
                </span>
              </div>
        </div>
    </div>

    <div class="content">
        <div class="table-wrapper">
          <table>
            <tr>
              <th>ລະຫັດ</th>
              <th>ຊື່ອຸປະກອນ</th>
              <th>ຕໍາແໜ່ງອຸປະກອນ</th>
              <th>ປະເພດອຸປະກອນ</th>
              <th>ຫົວໜ່ວຍອຸປະກອນ</th>
              <th>ຈໍານວນ</th>
            </tr>
            <tr *ngFor="let item of equList">
              <td>{{item.id}}</td>
              <td>{{item.equip_name}}</td>
              <td>{{item.pos_name}}</td>
              <td>{{item.cate_name}}</td>
              <td>{{item.unit_name}}</td>
              <td>{{item.equip_stock}}</td>
            </tr>


          </table>

          <div class="btn-print">
              <button (click)="opwnModal = true">ລາຍງານ</button>
          </div>
        </div>
    </div>
</div>

<app-bill [invoiceList]="equList" *ngIf="opwnModal" (close)="opwnModal = false"></app-bill>
