.overview-boxes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: 1rem;
  .box{
    cursor: pointer;
  }
}

.modal-container{
  .content{
    width: 65vw;
    height: 75vh;
    .close{
      display: flex;
      width: 100%;
      flex-direction: row-reverse;
      span{
        color: red;
        cursor: pointer;
      }

    }

    .input-item{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.5rem;
      .item{
        display: flex;
        flex-direction: column;
        width: 200px;

        label{
          color: #666666;
        }
        input, select{
          height: 35px;
          border-radius: 5px;
          border: 1px solid gainsboro;
          outline: none;
          padding: 0 5px;
        }

        button{
          width: 100px;
          height: 30px;
          border: none;
          background: rgb(17, 199, 17);
          color: white;
        }
      }

      .hasb{
        display: flex;
        align-items: flex-end;
        justify-content: end;
      }
    }


  }
}
