<div class="report-wrapper card">
  <div class="header">
      <div class="option">

            <div class="search">
                <input type="search" [(ngModel)]="kw" (keyup.enter)="searchFunc()">
                <button (click)="searchFunc()">ຄົນຫາ</button>
            </div>

            <div class="close">
              <span class="material-icons" (click)="coloseFunc()">
                close
              </span>
            </div>
      </div>
  </div>

  <div class="content">
      <div class="table-wrapper">
        <table>
          <tr>
            <th style="width: 50px;">ລະຫັດ</th>
            <th>ຊື່ບໍລິສັດ</th>
            <th>ຊື່ຜູ້ສະໜອງ</th>
            <th>ບ້ານ</th>
            <th>ເມືອງ</th>
            <th>ແຂວງ</th>
            <th>ເບີໂທ</th>
            <th>ຂໍ້ມູນຕິດຕໍ່</th>
            <th>ອີເມສ</th>

          </tr>
          <tr *ngFor="let item of supList">
            <td>{{item.id}}</td>
            <td>{{item.conmpany_name }}</td>
            <td>{{item.sup_name}}</td>
            <td>{{item.village}}</td>
            <td>{{item.district}}</td>
            <td>{{item.province}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.contact_info}}</td>
            <td>{{item.email}}</td>

          </tr>


        </table>

        <div class="btn-print">
          <button (click)="opwnModal = true">ລາຍງານ</button>
        </div>
      </div>
  </div>
</div>
<app-bill5 [invoiceList]="supList" *ngIf="opwnModal" (close)="opwnModal = false"></app-bill5>
